@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');

.Homee{
    height: 100vh;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 0;
    margin: 0 !important;
    background-color: rgba(56, 56, 51, 0.66) !important;
}

.Homee>img{
    position: absolute;
    top: 8vh !important;
    height: 92vh;
    width: 100%;
    z-index: -1;
    object-fit: cover;
    margin: 0 !important;
}
.mb-Homee{
    display: none;
}
.Homee_Path{
    background-color: rgba(54, 53, 53, 0.731);
    height: 70vh;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 0;
    margin: 0 !important;
}
.Homee_Path>img{
    position: absolute;
    top: 10vh;
    height: 60vh;
    width: 100%;
    z-index: -1;
    object-fit: cover;
}
.home_body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 82vh;
    width: 700px;
    max-width: 90vw;
    animation: fadeIn ease 5s;
}
@keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
.home_body>button{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    border-radius: 4px;
    height: 45px;
    width: 200px;
    font-weight: bold; 
    color: black;
    background-color: #fbb034;
    margin: 12px 0;
    margin-top: 20px;
}
.home_body>h4{
    display: flex;
    font-size: 1.5rem;
    line-height: 23px;
    font-family: 'Quicksand' sans-serif;
}
.home_body>h2{
    font-family: 'Poppins', sans-serif;
    font-size: 4rem;
    color: #fbb034;
   
}
/* .home_body{
    display: none;
} */
@media(max-width:769px) {
    .home_body>h2{
        font-family: 'Poppins', sans-serif;
        font-size: 3rem;
        color: #fbb034;
       
    }
    .mb-Homee{
        display: block;
        object-fit: fill;
    }
    .desk{
display: none;
    }
    .home_body{
        display: block;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 80vh;
        width: 700px;
        max-width: 90vw;
        /* background-color: rgba(54, 53, 53, 0.731); */
    }
    .Homee{
        background-color: rgba(54, 53, 53, 0.731);
    }
}