@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,700&display=swap');
.Header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
  width: 100%;
}
.Header_options{
    display: flex;
    width: 40%;
    justify-content: space-between;
}
.Header_options>div{
    font-size: 18px;
    font-weight: 500;
    color: #fbb034;
    cursor: pointer;
}
.Header_socialApp{
    display: flex;
    width: 10%;
    justify-content: space-between;
}
.Header_socialApp div:first-child{

    color: #4267B2;
    
}
.Header_socialApp div:nth-child(2){
    color:#e1306c;
}
.Header_socialApp div:nth-child(3){
    color: #25D366;
}
.Header_socialApp div:last-child{
    color: #00b9ff;
}
.Head{
    z-index: 1;
    height: 12vh;
    width: 100%;
    background-color: white;
    color: gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Head1{
    color: rgb(215, 182, 35);
    display: flex;
    width: 30%;
    justify-content: center;
    cursor: pointer;
}
.Head2{
    align-items: center;
    display: flex;
    width: 65%;
    justify-content: flex-end;
    padding-right: 5%;
}
.Head2>button{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    border-radius: 4px;
    height: 45px;
    width: 100px;
    font-weight: bold;
    background-color: #fbb034;
}
.Head2_div{

    margin-right: 45px;
    font-family: 'Poppins';

}
.Head1 img{
    /* width: 90px; */
    height: 50px;
    border-radius: 3px;
    box-shadow: 0 0 15px -4px solid black;
}
.activeTab{
    border-bottom: 2.5px solid #fd9c00;
    padding: 0 6px;
}
.phone-m{
    height: 30px;
    width: 30px;
    margin-right: 20px;
  
}
.mb-whatsapp{
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-left: -3px;
   
}
@media(max-width:769px) {
    .right-icons{
        display: flex;
        align-items: center;
        justify-content: inherit;
    }
    .Head2_div{
        display: none;
    }
    .Head button{
        display: none;
    }
.Header{
    margin: 0;
    padding: 0;
}
.Header_options{
    width: 100%;
}
    .Header_socialApp{
        display: none;
    }
    .Head1{
        width: 70%;
    }
    .Head1>img{
        height: 40px;
        margin-left: 15px;
    }
    .Header_options{
        display: none;
    }
   
   
    
}